:root {

}

.docsify-select__content {
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    height: 0;
    width: 100%;
}
.docsify-select__content--active {
    visibility: visible;
    position: relative;
    overflow: auto;
    height: auto;
}
